* {
  outline: none;
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  display: inline;
}

.button {
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 1);
  border: none;
  color: #2c2929;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

hr {
  border-left: 3px solid black;
  display: inline;
}

/*----------------page_layout----------------*/
.page_layout {
  width: 100%;
  height: 100%;
  background-color: rgb(227, 237, 243);
  background-size: cover;
  position: sticky;
  text-align: center;
}
/*----------------page_layout----------------*/

/*----------------NavBar_layout----------------*/
.NavBar_layout {
  background-color: rgba(59, 89, 152, 1);
  height: fit-content;
  padding: 7px;
}

.NavBar_layout img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 10px;
  vertical-align: middle;
}

.NavBar_layout button {
  margin: 10px;
}

.NavBar_layout #user {
  display: inline;
}
/*----------------NavBar_layout----------------*/

/*----------------SignIn_layout----------------*/
.SignIn_layout {
  background-color: orange;
}
/*----------------SignIn_layout----------------*/
